.sec1{
    display: flex;
    padding: 5%;
    background-image: url(images/wave.svg);
    background-repeat: no-repeat;
}
.link{
    text-decoration: none;
    padding: 10px 25px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    background-image: linear-gradient(blue,blueviolet);
}
.siam{
    width: 50%;
    padding: 20px;
}
h2{
    color: white;
    font-size: 40px;
}
span{
    color: white;
}
h1{
    font-size: 55px;
}
.img1{
    width: 400px;
    width: 80%;
    border-radius: 50%;
}
body{
    padding: 20px;
    margin: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h4{
    font-size: 20px;
}
.sec2{
    display: flex;
}
.par{
    width: 50%;
}
.img2{
    width: 80%;
    border-radius:50% ;
    width: 500px;
    height: 500px;
    object-fit: cover;
    border: 3px solid rgb(189, 137, 40);

    
}
h3{
    font-size: 30px;
    align-items: center;
}
p{
    font-size: 20px;
    line-height: 40px;
}
.link2{
    text-decoration: none;
    background-image: linear-gradient(blue, blueviolet);
    padding:10px 20px ;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px 5px black;
}
.last{
    text-align: center;
    padding:0px 25%;
}
.hea4{
    font-size: 30px;
}
.parent{
    display: flex;
    align-items: center;
    
    
}

h5{
    font-size: 35px;
}
.prt1{
    box-shadow: 10px 5px 49px black;
    margin: 2%;
    align-items: center;
    padding:50px;

    border-left: 7px solid;
    border-image: linear-gradient(cyan,blue);
    border-image-slice: 1;
    border-radius: 0 20px 50px 0;
}
.fot{
    text-align: center;
    padding: 50px 0px;
    font-size: 20px;
}